@use "@styles/module-imports" as *;

.navBar {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 100%;

  @include media(laptops) {
    background-color: $black;
    height: 70px;
    flex-direction: row;
  }

  @include media(large-desktops) {
    background-color: $black;
    height: 80px;
    font-size: 16px;
  }
}

.logoImages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mainLogoWidth {
  width: 200px;
  padding: 5px 10px;
  @include media(laptops) {
    margin-left: 10px;
    width: 200px;
  }
  @include media(large-desktops) {
    margin-left: 10px;
    width: 300px;
  }
}
button {
  background-color: transparent;
  border: none;
}

.hamburger {
  width: 20px;
  cursor: pointer;
  padding: 5px 10px;
  @include media(laptops) {
    display: none;
  }
}

.navItem {
  display: grid;
  margin: 0px 7px;

  width: 100%;

  border-radius :hover {
    background-color: $pink;
    transition: transform 0.3s ease;
    border: none;
  }

  @include media(laptops) {
    display: flex;
    height: auto;
    margin-right: 10px;
    justify-content: flex-end;
  }

  @include media(large-desktops) {
    gap: 5px;
    margin-right: 20px;
    font-size: 18px;
  }
}

.hamburgMenuOpen {
  background-color: red;
  height: 100%;
  width: 100%;
}

.linkItem {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-color: black;
  padding: 7px 0px;
  text-align: center;

  @include media(laptops) {
    padding: 0px 10px;
  }

  .text {
    position: relative; // Ensure pseudo-elements are relative to this text
    z-index: 1;

    &::after {
      content: ""; // Pseudo-element for the pink rectangle
      position: absolute;
      left: -10px;
      border-radius: 10px;
      padding: 0px 10px;
      bottom: 0; // Align at the bottom
      width: 100%; // Half the width of the text container
      height: 40%; // Half the height of the text container
      background-color: $pink; // The desired pink color
      transform: scaleY(0); // Initially hidden
      transform-origin: bottom; // Expand from the bottom
      transition: transform 0.3s ease; // Smooth animation
      z-index: -1; // Ensure it’s behind the text
    }

    &:hover::after {
      transform: scaleY(1); // Reveal the pink rectangle on hover
    }
  }

  &.active .text::after {
    transform: scaleY(1); // Keep the rectangle visible when the link is active
  }
}
