.toasterContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 320px;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;

  z-index: 1000;
}

.error {
  background-color: #942931;
  color: white;
}

.success {
  background-color: #488d58;
  color: white;
}
